* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img {
  width: 760px;
  height: 760px;
  border: 5px solid #000;
  margin: 20px auto;
  background: url("../assets/images/avatar-cute-meo-con-than-chet.jpg")
    no-repeat center center;
}
